header {
  display: flex;
  flex-direction: row;
  gap: 20px;

  justify-content: center;
  align-items: center;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leftTables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.rightTable {
  display: flex;
  flex-direction: column;
}
table,
th,
td,
tr {
  border: solid black 3px;
  border-collapse: collapse;
}
